#container {
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}
.box{
  margin:1px;
  float: left;
  width: 18px;
  height: 18px;
  background-color: #EDEDED;
}
